<!doctype html>

<!--Head--------------------->
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>

<!--BODY------------------>
<body>
<!--Nav bar-->
<nav>
    <ul>
        <li><strong><a href="#">Home</a></strong></li>
        <li><strong><a href="#">About me</a></strong></li>
        <li><strong><a href="#">Contact</a></strong></li>
        <li><strong><a href="#">Work</a></strong></li>
        <li><strong><button href="#" class="buttonLD" onclick="myFunction()">Light / Dark</button></strong></li>
    </ul>
</nav>

<div class="boxOuter">
    <div class="divbox">
        <div><img src="../static/images/chinchilla.webp" alt="Chinchilla after dust bath" height="200px" width="250px" class="box"></div>
        <div><em class="box"> 1 blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</em></div>
        <div><em class="box"> 2 blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</em></div>
        <div><em class="box"> 3 blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</em></div>
    </div>
</div>

<script src="../static/java.js"></script>
</body>
