<!doctype html>

<!--Head--------------------->
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>

<!--BODY------------------>
<body>
<!--Nav bar-->
<nav>
    <ul>
        <li><strong><a href="#">Home</a></strong></li>
        <li><strong><a href="#">About me</a></strong></li>
        <li><strong><a href="#">Contact</a></strong></li>
        <li><strong><a href="#">Work</a></strong></li>
        <li><strong><button href="#" class="buttonLD" onclick="myFunction()">Light / Dark</button></strong></li>
    </ul>
</nav>


<div class="divbox">
    <div class="box"><img src="../static/images/chinchilla.webp" alt="Snuck the chinchilla" style="height: 250px; width: 250px;"></div>
    <div class="box">19 years old</div>
    <div class="box">favourite colour purple</div>
    <div class="box">staffs</div>
</div>


<script src="../static/java.js"></script>
</body>
